@model IList<AspNetCoreMvcRecipes.Shared.DataAccess.Artist>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Chapter 08 - Recipe 03</h1>
<p>Below is an example of the Column List tag helper working in conjunction with the ArtistCard View Component</p>
<hr />
<column-list asp-number-of-columns="3"
            asp-for="@Model" 
            asp-view-component="ArtistCard"></column-list>
