@{
    ViewData["Title"] = "Home Page";
}

<h1>Chapter 3 - Recipe 11</h1>

<a asp-action="StandardHtmlHelpers">Recipe 11 - Form created with standard HTML Helpers</a>
<br />
<a asp-action="StronglyTypedHtmlHelpers">Recipe 12 - Form created with strongly typed HTML Helpers</a>
<br />
<a asp-action="TemplatedHtmlHelpers">Recipe 13 - Form created with templated HTML Helpers</a>
<br />
<a asp-action="InlineFunction">Recipe 14 - Alert boxes created with ab inline function</a>