<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="true"></add>
    <add key="automatic" value="true"></add>
  </packageRestore>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2"></add>
    <add key="MVC Core Recipes package source" value="https://www.myget.org/F/aspnetcoremvcrecipes/api/v2"></add>
  </packageSources>
</configuration>