@model Recipe01.Models.Product
@{
     ViewBag.Title = "Code Nuggets";
}
<h1>Code Nuggets</h1>
<pre>
    &lt;img src=&quot;/media/products/guitars/@@(Model.ProductId).jpg&quot; /&gt;
</pre>
<img src=/Media/Products/Guitars/@(Model.ProductId).jpg />