@model AspNetCoreMvcRecipes.Shared.DataAccess.Artist
<h4>@Model.UserName</h4>
<div class="col-lg-6 col-md-6">
    <img src="@Model.AvatarUrlSample"
         class="img-circle img-responsive"
         alt="Click Image to view full profile" />

</div>
<div class="col-lg-6 col-md-6">
    <p>Views: @Model.ProfileViews</p>
</div>

