@section Head{
<meta name="theme-color" content="#000000">
<link rel="manifest" href="~/lib/chapter11-react/manifest.json">
<link href="~/lib/chapter11-react/static/css/main.9a0fe4f1.css" rel="stylesheet">
}
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>
@section Scripts{
<script type="text/javascript" src="~/lib/chapter11-react/static/js/main.148a30c4.js"></script>
}
   

