@model Recipe02.Models.SoftwareLicenceAgreementModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Chapter 09 - Recipe 02</h1>
<hr />
<h2>License Agreement for @Model.SoftwareProductName</h2>
<p>
    @Model.AgreementText
</p>
<form asp-action="Index">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="LicenseeName"></label>
        <input asp-for="LicenseeName" class="form-control" />
        <span asp-validation-for="LicenseeName" class="text-danger"></span>
    </div>
    <div class="checkbox">
        <label>
            <input asp-for="AgreementAccepted" /> Tick the box to accept the agreement
            <span asp-validation-for="AgreementAccepted" class="text-danger"></span>
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

@section scripts{
@Html.Partial("_ValidationScriptsPartial")
<script src="~/js/custom-validators.js"></script>
}
