@{
    ViewData["Title"] = "Home Page";
}
<h1>Chapter 04 - Tag Helpers</h1>
<a asp-action="Recipe01">Recipe 01 - Compare Tag Helpers to HTML Helpers</a>
<br />
<a asp-action="Recipe02">Recipe 02 - Creating Links</a>
<br />
<a asp-action="Recipe03">Recipe 03 - Building a Form Using the Form, Label, and Input Tag Helpers</a>
<br />
<a asp-action="Recipe04">Recipe 04 - Databinding a Nullable bool to an Option Tag Helper</a>
<br />
<a asp-action="Recipe05">Recipe 05 - Creating a Drop-Down List with the Select Tag Helper</a>
<br />
<a asp-action="Recipe06">Recipe 06 - Validating Input with Tag Helpersr</a>
<br />
<a asp-action="Recipe07">Recipe 07 - Improving Performance with the Cache Tag Helper</a>
<br />
<a asp-action="Recipe08">Recipe 08 - Using the Envirnment Tag Helper</a>
<br />
<a asp-action="Recipe09">Recipe 09 - Creating Custom Tag Helper</a>
<br />