<h2>Chapter 04 - Recipe 09</h2>
<a href="myonlineband.com">This is a regular anchor tag</a>
<br />
<a asp-action="About">This is standard asp-action tag helper with no Glyph Icon</a>
<br />
<a asp-glyphIcon="Edit">This glyoh icon on standard anchor tag</a>
<br />
<a asp-action="About" asp-glyphIcon="Edit">This is standard asp-action tag helper with Edit Glyph Icon</a>
<br />
<a asp-action="About" asp-glyphicon="Trash">This is standard asp-action tag helper with Delete Glyph Icon</a>
