<h2>Recipe 02 - Creating Links with Tag Helpers</h2>

<h3>Listing 4.5. Creating a Link to an Action In the Same Controller</h3>
<a asp-action="Index">Link to other action in same controller</a>

<h3>Listing 4.6. Creating a Link to an Action in Another Controller</h3>
<a asp-action="Somewhere" asp-controller="Away">Action Link to another controller</a>

<h3>Listing 4.7. Passing Route Paramaters</h3>
<a asp-action="Somewhere"
   asp-controller="Away" asp-route-id="12">Link to item 12</a>

<a asp-action="Somedatagrid" asp-controller="Data"
   asp-route-page="2" asp-route-sort="foo">Page 2</a>

<h3>Listing 4-9. Creating a Link to an Area with the Anchor Tag Helper</h3>
<a asp-action="InHappyLand"
   asp-controller="ControllerInArea"
   asp-area="FarFarAway">Action Link to another area</a>

<h3>Listing 4-10. Creating an Action Link that Uses HTTPS </h3>
<a asp-action="Home" asp-controller="Home" asp-protocol="https">This link uses SSL</a>

<h3>Listing 4-11. An Action Link with a Fragement</h3>
<a asp-action="Profile" asp-controller="Home" asp-fragment="Email">Link with a fragment</a>