@model Chapter04.Models.Recipe03.Contact
<h2>Thanks @Model.Name , for submitting your contact details.</h2>

@section Scripts{
    <script>
        (function () {
            var color = "@Model.FavoriteColor";
            $("body").css("background-color", color);
        })();
    </script>
}
