@model Recipe04.Models.BandViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Chapter 09 - Recipe 4</h1>
<form asp-action="Index">
    <div asp-validation-summary="All"></div>
    <div class="form-group-lg">
        <label asp-for="BandName"></label>
        <input asp-for="BandName" class="form-control">
        <span class="text-danger" asp-validation-for="BandName"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Register Band Name</button>
</form>

@section scripts{
    @Html.Partial("_ValidationScriptsPartial")
}