@{
    ViewData["Title"] = "Home Page";
}

<h1>Recipe 6-3 - Running ASP.NET Core in a Docker Container</h1>
<p>
    In order for this to work, you first need to install Hyper-V feature on Windows 10 and them Docker for Windows.

</p>