<h1>ASP.NET Core MVC Recipes - Chapter 2</h1>
<p>
    This is a project created using the default template in Visual Studio. 
    I then deleted the about and contact views and actions and modfified this page to remove the unneeded biolerplate. I also deleted unneeded images under wwwroot.
</p>

<p>
    The Shared _Layout.cshtml file has also been modified. I have removed the uneeded menu items and changed the title and copyrite.
</p>